h1{
    text-align: center;
}

.pageBtnDiv {
    margin-top: 15px;
    text-align: center;
}
.pageBtn {
    width:145px;
}

.panelHeader {
    text-align: center;
    padding-top: .8vw;
    font-size: .7vw;
    color: blue;
    font-weight: bold;
}

.panelContent {
    padding-top: 1vw;
    height: inherit;
    width: inherit;
    text-align: center;
}

.mediaImg {
    height: inherit;
    width: inherit;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.inputGroup {
    margin: 5px 10px;
}