#signUpLink {
    font-weight: bold;
    margin-right: 8px;
    float: right;
    clear: both;
    color:yellow;
    text-decoration: underline;
}

#signInMessage {
    padding-right:10px;
    font-weight:bold;
}

.noDisplay {
    display: none;
}